<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="remote" value="http://bz3.borderzone.ca/" />
		<add key="repo" value="BZ_Saved.xml" />
		<add key="saved" value="" />
		<add key="main" value="" />
		<add key="manager" value="" />
		<add key="user" value=""/>
		<add key="pass" value=""/>
	</appSettings>
</configuration>